#game-output,
.game-description {
  display: none;
}

body {
  background-color: black;
  font-family: "Lucida Console", Monaco, monospace;
  color: #fefefe;
}

.page-body {
  margin-bottom: 100px;
}

.page-header {
  text-align: center;
}

.jumbotron {
  background-color: transparent;
}

.well {
  background-color: transparent;
  border-radius: 6px;
}

.game-rules {
  margin-bottom: 50px;
}

.game-modes {
  text-align: center;
}

.game-modes h1 {
  border-top: 2px solid #fefefe;
  padding-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.game-modes-buttons {
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-pong {
  color: #fefefe;
  background-color: black;
  border: 2px solid #fefefe;
  border-radius: 6px;
}

.btn-pong:hover {
  background-color: #fefefe;
}

button:disabled {
  color: #aaa;
  background-color: #333;
}

button:disabled:hover {
  cursor: default;
  color: #aaa;
  background-color: #333;
}

input[type="text"]:disabled {
  cursor: text;
  color: #aaa;
  background-color: #222;
}

.game-description {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

.game-description h1 {
  margin-top: 0px;
}

#game-output-header {
  text-align: center;
}

/*#game-output-numbers {
  width: 100%;
  margin: auto;
}*/

.output-item {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 15px;
}

.output-item p {
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
